# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
.env

# IDE
.vscode/
.idea/

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/

# Logs
logs/
*.log

# Reports
reports/

# Screenshots
screenshots/

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/